

	/* Specific styles idea 710s */

	@media (min-width:320px){
		.mett__bg-header-gt-710s{
		background: url(../img/YOGABOOK/header_small.png); background-size:cover;
		}
	}
	@media (min-width:600px){
		.mett__bg-header-xs-710s{
		background: url(../img/YOGABOOK/header_small.png); background-size:cover;
		}
	}
	@media (min-width:768px){
		.mett__bg-header-sm-710s{
		background: url(../img/YOGABOOK/header_background.png); background-size:cover;
		}
	}
	@media (min-width:992px){
		.mett__bg-header-md-710s{
		background: url(../img/YOGABOOK/header_background.png); background-size:cover;
		}
	}
	@media (min-width:1200px){
		.mett__bg-header-lg-710s{
		background: url(../img/YOGABOOK/header_background.png); background-size:cover;
		}
	}