		
		

		#mett__presentation{
			background-image: url('../img/texture_y.png');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}

		#mett__section2{
			background-image: url('../img/bgs_y700_ideapad_01.png');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}

		#mett__section3{
			background-image: url('../img/texture_black.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}

		#mett__section4{
			background-image: url('../img/bgs_y700_ideapad_02.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: -5em 0em;
			background-color: #111;
			position: relative;
		}

		#mett__section5{
			background-image: url('../img/bgs_y900_ideapad_03.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			background-position: -18em -20em
		}

		#mett__section6{
			background-image: url('../img/bgs_y900_ideapad_04.png');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}

		#mett__section7{
			background-image: url('../img/bgs_y700_ideapad_04.png');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}

		#mett__section8{
			background-image: url('../img/bgs_y700_ideapad_05.png');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			background-position: -24em 0em
		}

		#mett__section9{
			background-image: url('../img/bgs_y900_ideapad_07.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			background-position: 0em 0em;
		}

		#mett__section10{
			background-image: url('../img/bgs_y900_ideapad_08.png');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			background-position: 0em 0em;
		}

		#mett__section11{
			background-image: url('../img/bgs_y900_ideapad_09.png');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			background-position: 6em -2em;
		}


		/* Módulo inclinación */

		.mett__cont-mod-inclinado{
			position: absolute;
			width: 100%; 
			top: 0;
			right: 0; 
			bottom: 0; 
			z-index: 0;

		}
		.mett__cont-mod-inclinado	.mett___mod-inclinado{
				-webkit-transform: skew(0deg); 
				border-top: none; 
				-moz-transform: skew(0deg); 
				-o-transform: skew(0deg); 
				transition: all ease 0.28s; 
				-webkit-transition: all ease 0.28s; 
				-moz-transition: all ease 0.28s;
				background-image: url('../img/texture_black.jpg');
				background-size: cover;
				background-repeat: no-repeat; 
			}