

	/* Specific styles lenovo-phab2 */

	@media (min-width:320px){
		.mett__bg-header-gt-phab2{
		background: url(../img/LENOVO_PHAB2/background_phone-plus.png); background-size:cover; background-repeat: no-repeat;
		}
	}
	@media (min-width:600px){
		.mett__bg-header-xs-phab2{
		background: url(../img/LENOVO_PHAB2/background_phone-plus.png); background-size:cover; background-repeat: no-repeat;
		}
	}
	@media (min-width:768px){
		.mett__bg-header-sm-phab2{
		background: url(../img/LENOVO_PHAB2/background_phab-plus.png); background-size:cover;background-position-x:2.5em;
		}
	}
	@media (min-width:992px){
		.mett__bg-header-md-phab2{
		background: url(../img/LENOVO_PHAB2/background_phab-plus.png); background-size:cover;background-position-x:2.5em;
		}
	}
	@media (min-width:1200px){
		.mett__bg-header-lg-phab2{
		background: url(../img/LENOVO_PHAB2/background_phab-plus.png); background-size:cover;background-position-x:2.5em;
		}
	}



	
	@media (min-width:320px){
		.mett__bg-lenovers-gt-phab2{
		background: url(../img/LENOVO_PHAB2/lenovers_small.png); background-size:cover;
		}
	}
	@media (min-width:600px){
		.mett__bg-lenovers-xs-phab2{
		background: url(../img/LENOVO_PHAB2/lenovers_small.png); background-size:cover;
		}
	}
	@media (min-width:768px){
		.mett__bg-lenovers-sm-phab2{
		background: url(../img/LENOVO_PHAB2/lenovers_background.png); background-size:cover;
		}
	}
	@media (min-width:992px){
		.mett__bg-lenovers-md-phab2{
		background: url(../img/LENOVO_PHAB2/lenovers_background.png); background-size:cover;
		}
	}
	@media (min-width:1200px){
		.mett__bg-lenovers-lg-phab2{
		background: url(../img/LENOVO_PHAB2/lenovers_background.png); background-size:cover;
		}
	}