

	/* Specific styles lenovo-phab2 */

	@media (min-width:320px){
		.mett__bg-header-gt-phab2{
		background: url(../img/PHAB2_PRO/background_phone-pro.png); background-size:cover;
		}
		.mett__bg-info1-gt-phab2-pro{
			background:url('../img/PHAB2_PRO/modulo3_background_2.png');
			background-position:-9em 0em; 
			background-size:170%; 
			background-repeat:no-repeat;
		}
		.mett__title-main-c-gt{
			font-family: 'Gotham light';font-size: 45px; letter-spacing: -3px; color: #ffffff; margin-left: ; text-align: center;
		}
	}
	@media (min-width:600px){
		.mett__bg-header-xs-phab2{
		background: url(../img/PHAB2_PRO/background_phone-pro.png); background-size:cover;
		}
		.mett__bg-info1-xs-phab2-pro{
			background:url('../img/PHAB2_PRO/modulo3_background_2.png');
			background-position:0em 0em; 
			background-size:cover; 
			background-repeat:no-repeat;
		}
		.mett__title-main-c-xs{
			font-family: 'Gotham light';font-size: 50px; letter-spacing: -3px; color: #ffffff; margin-left: ; text-align: center;
		}
	}
	@media (min-width:768px){
		.mett__bg-header-sm-phab2{
		background: url(../img/PHAB2_PRO/background_phab-pro1.png); background-size:cover;background-position-x:8.5em;
		}
		.mett__bg-info1-sm-phab2-pro{
			background:url('../img/PHAB2_PRO/modulo3_background_2.png');
			background-position:0em 0em; 
			background-size:cover; 
			background-repeat:no-repeat;
		}
		.mett__title-main-c-sm{
			font-family: 'Gotham light';font-size: 50px; letter-spacing: -3px; color: #ffffff; margin-left: ; text-align: center;
		}
	}
	@media (min-width:992px){
		.mett__bg-header-md-phab2{
		background: url(../img/PHAB2_PRO/background_phab-pro1.png); background-size:cover;background-position-x:10.5em;
		}
		.mett__bg-info1-md-phab2-pro{
			background:url('../img/PHAB2_PRO/modulo3_background_2.png');
			background-position:0em -6em; 
			background-size:cover; 
			background-repeat:no-repeat;
		}
		.mett__title-main-c-md{
			font-family: 'Gotham light';font-size: 50px; letter-spacing: -3px; color: #ffffff; margin-left: ; text-align: center;
		}
	}
	@media (min-width:1200px){
		.mett__bg-header-lg-phab2{
		background: url(../img/PHAB2_PRO/background_phab-pro1.png); background-size:cover;background-position-x:11.5em;
		}
		.mett__bg-info1-lg-phab2-pro{
			background:url('../img/PHAB2_PRO/modulo3_background_2.png');
			background-position:0em -6em; 
			background-size:cover; 
			background-repeat:no-repeat;
		}
		.mett__title-main-c-lg{
			font-family: 'Gotham light';font-size: 50px; letter-spacing: -3px; color: #ffffff; margin-left: ; text-align: center;
		}
	}




	@media (min-width:320px){
		.mett__bg-lenovers-gt-phab2{
		background: url(../img/PHAB2_PRO/lenovers_small.png); background-size:cover;
		}
	}
	@media (min-width:600px){
		.mett__bg-lenovers-xs-phab2{
		background: url(../img/PHAB2_PRO/lenovers_small.png); background-size:cover;
		}
	}
	@media (min-width:768px){
		.mett__bg-lenovers-sm-phab2{
		background: url(../img/PHAB2_PRO/lenovers_background.png); background-size:cover;
		}
	}
	@media (min-width:992px){
		.mett__bg-lenovers-md-phab2{
		background: url(../img/PHAB2_PRO/lenovers_background.png); background-size:cover;
		}
	}
	@media (min-width:1200px){
		.mett__bg-lenovers-lg-phab2{
		background: url(../img/PHAB2_PRO/lenovers_background.png); background-size:cover;
		}
	}