

	/* Specific styles Ideacentre 910 */

	@media (min-width:320px){
		.mett__bg-header-gt-AIO910{
			background:url(../img/AIO_910/HEADER.png); background-size:cover
		}
	}
	@media (min-width:600px){
		.mett__bg-header-xs-AIO910{
			background:url(../img/AIO_910/HEADER.png); background-size:cover
		}
	}
	@media (min-width:768px){
		.mett__bg-header-sm-AIO910{
			background:url(../img/AIO_910/HEADER.png); background-size:cover
		}
	}
	@media (min-width:992px){
		.mett__bg-header-md-AIO910{
			background:url(../img/AIO_910/HEADER.png); background-size:cover
		}
	}
	@media (min-width:1200px){
		.mett__bg-header-lg-AIO910{
			background:url(../img/AIO_910/HEADER.png); background-size:cover
		}
	}
